[user]
	name = ners
	email = ners@gmx.ch
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[credential]
	helper = libsecret
[commit]
	gpgsign = true
[includeIf "gitdir:~/Work/"]
	path = ~/Work/.gitconfig
